html {
    margin: 0;
    height: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(221, 221, 221);
    display: grid;
}

/* Header */

header {
    padding: 1em;
    background-color: rgb(201, 227, 235);
    display: flex;
    justify-content: space-between;
}

.in-header {
    max-width: 30%;
}

header .logo {
    width: 20%;
}

header #pname {
    font-weight: bold;
    color: grey;
}

/* Navigation bar */

nav {
    background-color: steelblue;
}

nav a {
    display: block;
    float: left;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    color: black;
    border: 0.2em solid rgb(56, 101, 138);
    padding: 0.7em;
    color: rgb(243, 235, 231);
}

nav a:hover {
    background-color: black;
}

nav a.active {
    background-color: rgb(56, 101, 138);
    text-decoration: underline;
}

nav form {
    float: right;
    margin: 0.95em;
    vertical-align: middle;
}

nav input {
    margin: 0;
    border: none;
    font-size: 1.5em;
    vertical-align: middle;
    border: 0.1em solid rgb(56, 101, 138)
}

nav button {
    cursor: pointer;
    margin: -0.20em;
    border: none;
    font-size: 1.60em;
    vertical-align: middle;
    background: rgb(94, 143, 184);
    border: 0.1em solid rgb(56, 101, 138);
}

nav button:hover {
    background: steelblue;
}

/* Main body */

main {
    display: grid;
    grid-template: '. . .';
    grid-gap: 1em 5em;
    margin: 10em;
    margin-top: 1.5em;
}

main .movie-general {
    border: 0.4em outset darkgrey;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 0;
    min-width: 16em;
    max-width: 16em;
}

main .movie-general:hover {
    cursor: pointer;
    background-color: rgb(199, 199, 199);
}

main .movie-img {
    margin: 1em 1em;
    overflow: hidden;
    min-width: 0;
}

main div p {
    margin: 0.1em;
    margin-left: 1em
}

main div .movie-name {
    font-weight: bold;
    text-align: center;
    word-wrap: break-word;
    width: 70%;
}

/* Modal */

.modal {
    display: block;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.35);
    transition: opacity 800ms, visibility 800ms;
}

.modal-content {
    background-color: rgb(48, 48, 48);
    margin: auto;
    padding: 1.2em;
    border: 0.15em solid rgb(136, 136, 136);
    border-radius: 2em;
    width: 80%;
    box-shadow: 0.2em 0.2em 0.2em;
    margin-top: 3em;
}

.close {
    color: darkgrey;
    float: right;
    font-size: 2em;
    font-weight: bold;
    margin: -0.5em -0.2em 0 0;
}

.close:hover {
    color: white;
    cursor: pointer;
}

#modal-img {
    margin-left: 0.8em;
}

#modal-title {
    text-align: center;
    font-weight: bold;
    color: white;
}

#modal-overview {
    text-align: justify;
}

.modal-text {
    color: white;
    letter-spacing: 0.01em;
}

.modal-link {
    color: rgb(189, 226, 255);
    letter-spacing: 0.01em;
}